{{ define "header" }}
    <nav style="display: flex; justify-content: space-between; padding: 10px; color: bisque;">
        <!-- Navigation Links -->
        <div>
            <a style="margin-right: 40px;" href="/">Home</a>
            <a style="margin-right: 40px;" href="/about">About</a>
            <a style="margin-right: 40px;" href="/forparents">For Parents</a>
            <a style="margin-right: 40px;" href="/forstudents">For Students</a>
        </div>

        <!-- Dark Mode Toggle Button -->
        <button onclick="toggleDarkMode()" style="margin-left: auto;">Toggle Dark Mode</button>
    </nav>
{{ end }}